.nav li {
    display: inline
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none
}

.jumbotron {
    background-image: url(image/Kyoto.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron.container {
    position: relative;
    top: 100px;
    left: 100px;
    color: #FFFFFF;
}

.jumbotron.container h1 {
    color: white;
    font-size: 48px;
    font-family: 'shift', sans-serif;
    font-weight: bold
}

.jumbotron p {
    font-size: 28px;
    color: #fff;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more h3 {
    font-size: 18px;
    font-size: 'shift', sans-serif;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;
}
